body{
  margin: 0px;
  position:relative;
 
}

#background{
  border-bottom:none;
  background-image: url("./images/bg_image.jpg");
  background-size:cover;
  width: 100%;
  height:1000px;
   background-position-y:-180px ;
   position: relative;
  background-repeat: no-repeat;
 
  
  
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
 font-family: 'Baloo Paaji 2';
 font-weight:bolder;
 position: sticky;
 top: 0px;
 
 column-gap: 480px;
 
 z-index: 100;
 
}
#logo img{
  mix-blend-mode: color-burn;
  width: 130px;
  height: 90px;
}

#nav_opt{
  display: flex;
  width: 400px;
  justify-content: space-around;
}
#nav_opt>li{
  list-style-type: none;
  
  
}

#nav_opt li>a{
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: #654d91;

}
#dropdown_content{
  list-style-type: none;
  padding-left: 0px;
}
#dropdown_content>li{
  display: none;
  
}


/* ending of navigation bar */

#content{
  position: absolute;
  left: 35%;
  top: 20%;
}
#content h1{
  font-family: 'Baloo Paaji 2';
  font-size: 70px;
  font-weight:700;
  margin: 0px;
  color: #212529;
  line-height: 90px;
}
#content span{
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: lighter;
  letter-spacing: 8px;
}
#content a{
  display: block;
  margin-top:20px
}
#content a button{
  padding: 8px 15px 8px;
  border-radius: 20px;
 background-color: #695aa6;
 border-color: #6f42c1;
 color: white;
 font-size: large;
 font-family: 'Open Sans';
 font-size: lighter;
 border:none;
 border: 2px solid  #695aa6;
 transition: 0.3s background-color;
}
#content a button:hover{
  background-color: #654d91;
  cursor:pointer;
}
/* end of background and content container */

/* starting of about container */
#about_container{
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  z-index: -10;
  padding-bottom: 70px;
}
#about_container img{
  width:400px;
  height: 400px;
}
#about #section_subtitle{
  font-family: 'Open Sans';
  color: #111;
  letter-spacing:.6px;
  font-weight: 400;
  opacity: .6;
  margin-bottom: 6px;
}
#about_container #section_title{
  font-family: 'Baloo Paaji 2';
  font-size:calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
  margin-top: 0px;
  font-weight: bolder ;
  color: #695aa6;
  margin-bottom: 16px;

 
}

#about_me_des{
  width:510px;
  text-align: justify;
  font-size: calc(13px +(15 - 13)*((100vw - 300px) /(1300 - 300)));
  font-weight: 100 ;
  letter-spacing: .6px;
  font-family:'Open Sans' ;
  opacity: 1;
  color: #111;
  margin-bottom:1rem;
  margin-top: 0px;
}
#about_container button{
  margin-top: 24px;
  padding:6px 12px 6px 12px;
  border-radius: 20px;
  border: 1px solid #695aa6;
  color: #695aa6;
  font-family: 'Open Sans';
  font-size: 16px;
  transition: 0.3s all;

}
#about_container button:hover{
  background-color: #695aa6 ;
  color:white;

}

/* ending of content container */

/* startting of section container */

section{
 text-align: center;
 padding-top: 70px;
 padding-bottom: 70px;
}
section p{
  font-family:'Open Sans' ;
  font-size: 14px;
  opacity:.6;
  margin-bottom: 6px;
  margin-top: 0px;

}
section h1{
  font-family: 'Baloo Paaji 2';
  color: #695aa6;
  font-weight:bolder ;
  font-size: 32px;
  margin-bottom: 64px;
  margin-top: 0px;
}
#section_content{
  display: flex;
  justify-content: space-around;
  padding:0px 80px 0px 80px;
  
  
}
#section_content>div{
  width:255px;
  height: 230px;
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#section_content div img{
  width: 55px;
  height:55px;
  flex: 1;
}
#section_content div h3{
  color: #695aa6;
  font-family: 'Baloo Paaji 2';
  flex: 1;
  margin: 0px;
}
#inner_content{
  display: none;
 flex: 1;
}
#inner_content p{
  width: 10em;
  
}
#div1:hover #inner_content{
  display: flex;

}
#div2:hover #inner_content{
  display: flex;

}